.header-container {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-container .earth-logo {
  width: 25px;
  height: 25px;
  object-fit: cover;
  filter: invert(1) hue-rotate(180deg);
}

.header-container span {
  color: #fff;
  font-size: 2rem;
}
