@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Pinyon+Script&family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
